.about-container {
  @include height;
  background-color: $bg-color1;
  font-family: $Raleway;
  color: $font-color;

  @include img-setting;
  .about {
    min-height: 400px;
    @include flex-setting1;
    .prof-img {
      height: 300px;
      border-radius: 150px;
      padding-left: 18px;
    }
    .desc {
      color: $font-color;
      padding: 10px;
      line-height: 1.8;
      width: 600px;
    }
  }
  .skills-container {
    .languages {
      @include grid-col;
      gap: 25px;
    }
    .prog {
      height: 150px;
    }
    .skills {
      text-align: center;
      padding-bottom: 20px;
    }
    .credits {
      display: grid;
      justify-content: center;
      padding: 30px;
      .link {
        text-decoration: none;
        color: $font-color;
      }
    }
  }
}

/*Media Queries*/
/*Mobile 480*/
@include mobile-device(mobile-md) {
  .about-container {
    .about {
      @include flex-setting2;
      .prof-img {
        padding: 20px;
      }
      .desc{
        text-align: center;
        width: auto;
       p{
         padding:10px;
       }
      }
    }
    .skills-container {
      .languages {
        display: none;
        @include grids;
      }
    }
  }
}

/*Mobile 481 - 768*/
@include mobile-device-lg(mobile-lg, tablet-sm){
  .about-container {
    .about {
      @include flex-setting2;
      .prof-img {
        padding: 20px;
      }
      .desc{
        text-align: center;
        width: auto;
       p{
         padding:10px;
       }
      }
    }
    .skills-container {
      .languages {
        display: none;
        @include grids;
      }
    }
  }
}



