.contact-container {
  display: grid;
  align-items: center;
  min-height: 100vh;
  background-color: $bg-color1;
  color: $font-color;
  p {
    text-align: center;
    padding: 20px;
  }
}
.contact-details {
  display: flex;
  justify-content: center;
  gap: 200px;
  .contact {
    color: $font-color;
    ul {
      li {
        list-style: none;
        padding: 10px;
        i {
          margin: 10px;
        }
      }
    }
  }
}

.form {
  display: flex;
  justify-content: center;
  gap: 30px;
  .contact-form {
    label {
      display: block;
      padding: 10px;
      text-align: left;
      position: relative;
      right: 2%;
      color: $font-color;
    }
    .txt-email,
    .txt-subject,
    .txt-contact {
      height: 40px;
      width: 450px;
    }
    .txt-area {
      height: 150px;
      width: 450px;
    }
    .btn-submit {
      height: 32px;
      width: 150px;
      color: $font-color;
      background-color: $bg-color1;
      border: 1px solid $font-color;
      cursor: pointer;
    }
  }
}

.contact-socials {
  color: $font-color;
  text-align: center;
  padding: 40px;
  .social-media {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    .soc-links {
      text-decoration: none;
      color: $font-color;
    }
  }
}

/*Mobile 0 - 480*/
@include mobile-device(mobile-md) {
  .contact-details {
    flex-direction: column;
    gap:0;
  }
  .form {
    padding: 10px;

    flex-direction: column;
    gap: 30px;
    .contact-form {
      .txt-email,
      .txt-contact {
        width: 100%;
      }
      .txt-area {
        width: 100%;
      }
      .btn-submit {
        width: 100%;
      }
    }
  }
}

/*Mobile 481 - 768*/
@include mobile-device-lg(mobile-lg, tablet-sm){
  .contact-details {
    flex-direction: column;
    gap:0;
  }
  .form {
    padding: 10px;

    flex-direction: column;
    gap: 30px;
    .contact-form {
      .txt-email,
      .txt-contact {
        width: 100%;
      }
      .txt-area {
        width: 100%;
      }
      .btn-submit {
        width: 100%;
      }
    }
  }
}

/*Tablet 768 - 1024*/
@include tablet-device(tablet-sm, tablet-md){
  .contact-details {
    flex-direction: column;
    gap:0;
  }
  .form {
    padding: 10px;
    flex-direction: column;
    gap: 30px;
    .contact-form {
      label{
        padding:20px;
      }
      .txt-email,
      .txt-contact {
        width: 100%;
      }
      .txt-area {
        width: 100%;
      }
      .btn-submit {
        width: 100%;
      }
    }
  }
}
