.landing {
  @include height;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: $Monter;
  .landing-text {
    height: 600px;
    .parent {
      color: $txt-color;
      display: grid;
      justify-content: center;
      position: relative;
      top: 45%;
      .landing-desc{
        background-color: $bg-black;
        h1{
          padding: 15px;
        }
      }
    }
    .btn-intro{
      display: grid;
      justify-content: center;
      padding: 25px;
      .btn-cta{
        @include btn-submit;
      }
    }
  }
}

/*Media Queries*/
@include mobile-device1(mobile){
  .landing{
    .landing-text{
      text-align: center;
      .landing-desc{
        line-height: 1.5;
      }
    }
  }
}

@include tablet-device(tablet-sm, tablet-md){
  .landing{
    .landing-text{
      text-align: center;
      .landing-desc{
        line-height: 1.5;
      }
    }
  }
}
