.projects-container {
  min-height: 80vh;
  display: grid;
  align-items: stretch;
  padding: 15px 0 300px;
  background-color: $bg-color2;
  color: $font-color;
  font-family: $Raleway;
  .proj {
    text-align: center;
  
  }
  .project-list {
    @include grid-col-2;
    gap: 15px;
    align-items: center;
    .btn-div {
      @include grid-col;
      gap: 15px;
      padding: 12px;
    }
  }
  //Box
  .project {
    min-height: 220px;
    width: 500px;
    border: 2px solid white;
    padding: 15px;
   
    h1 {
      text-align: center;
    }
    .btn-projDemo {
      @include proj-btn;
    }
    .btn-projDemo:hover {
      background-color: $bg-black;
      transition-duration: 1s;
    }
  }
  .technologies {
    @include flex-setting1;
    .prog {
      height: 40px;
    }
  }
}

/*Media Queries*/
/*Mobile 0 - 480 */
@include mobile-device(mobile-md) {
  .projects-container {
    .proj {
      padding:10px;
      text-align: center;
      padding-bottom: 60px;
    }
    .project-list {
      @include grids;
      .btn-div {
        @include grids;
      }
    }
    .project {
      width: 250px;
      h1 {
        padding: 15px;
      }
    }
  }
}

/*Mobile 481 - 768*/
@include mobile-device-lg(mobile-lg, tablet-sm) {
  .projects-container {
    .project-list {
      @include grids;
      .btn-div {
        @include grids;
      }
    }
    .project {
      width: 370px;
      h1 {
        padding: 15px;
      }
    }
  }
}

/*Tablet 768 - 1024*/
@include tablet-device(tablet-sm, tablet-md) {
  .projects-container {

    .project-list {
      @include grids;
      .btn-div {
        @include grids;
      }
    }
    .project {
      width: 500px;
      h1 {
        padding: 15px;
      }
    }
  }
}

/*Large Screen 1025 - 1091*/ 
@include screen-md(tablet-lg,tablet-lg1){
  .projects-container {

    .project-list {
      @include grids;
      .btn-div {
        @include grids;
      }
    }
    .project {
      width: 600px;
      h1 {
        padding: 15px;
      }
    }
  }
}